#container{
	height: 1000px;
	width: 100%;
}
#Box{
	width: 50%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#input1{
	top: 25px;
	right: 50px;
	width: 225px;
	position: absolute;
}
#input2{
	top: 75px;
	right: 50px;
	width: 225px;
	position: absolute;
}
#btn{
	top: 175px;
	right: 50px;
	position: absolute;
}
.error{
	color: red;
	top: 135px;
	right: 50px;
	position: absolute;
}